<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

    <bean id="userService" class="com.gojava6.airbnb.service.UserService">
        <constructor-arg ref="userDaoJpa"/>
    </bean>
    <bean id="userDaoJpa" class="com.gojava6.airbnb.dao.jpa.UserDaoJpa"/>

    <bean id="apartmentService" class="com.gojava6.airbnb.service.ApartmentService">
        <constructor-arg ref="apartmentDaoJpa"/>
    </bean>
    <bean id="apartmentDaoJpa" class="com.gojava6.airbnb.dao.jpa.ApartmentDaoJPA"/>

    <bean id="cityService" class="com.gojava6.airbnb.service.CityService">
        <constructor-arg ref="cityDaoJpa"/>
    </bean>
    <bean id="cityDaoJpa" class="com.gojava6.airbnb.dao.jpa.CityDaoJpa"/>

    <bean id="reservationService" class="com.gojava6.airbnb.service.ReservationService">
        <constructor-arg ref="reservationDaoJpa"/>
    </bean>
    <bean id="reservationDaoJpa" class="com.gojava6.airbnb.dao.jpa.ReservationDaoJpa"/>

    <bean id="loyaltyProgramService" class="com.gojava6.airbnb.service.LoyaltyProgramService">
        <constructor-arg ref="subscriberDaoJpa"/>
    </bean>
    <bean id="subscriberDaoJpa" class="com.gojava6.airbnb.dao.jpa.SubscriberDaoJpa"/>

</beans>